body {
    background-color: #1F2937;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: auto;
    padding: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-left a {
    margin-left: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: auto;
    color: white;
    align-items: center;
}

.hero-section-left {
    margin-left: 400px;
}

.hero-section-left button {
    background-color: rgba(73, 94, 211, 0.877);
    color: white;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    border: 0px;
}

.hero-section-right {
    margin-right: 180px;
    border: solid white 1px;
}

.information {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    gap: 10px;
    padding: 40px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.text {
    font-size: 16px;
}

.header-information {
    text-align: center;
    background-color: white;
    margin-top: 100px;
    padding: 40px;
    height: 100px;
}

.quote p,
.information p,
.information h1,
.call-to-action p,
.call-to-action h2 {
    margin: 0;
}

.quote {
    background-color: rgba(63, 83, 97, 0.479);
    width: 100%;
    color: white;
}

.quote-text {
    padding: 60px;
    text-align: center;
    font-size: 70px;
}

.quote-author {
    font-size: 20px;
    text-align: end;
    margin-right: 520px;
}

.call-to-action {
    background-color: white;
    padding: 150px;
}

.call-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(73, 94, 211, 0.877);
    padding: 20px;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
}

.call-left {
    color: white;
    font-size: 25px;
}

.call-left p {
    opacity: 0.8;
    font-size: 15px;
}

.call-right {
    text-align: end;
    margin-right: 100px;
}

.call-right button {
    background-color: rgb(106, 127, 245);
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
}

.footer {
    color: white;
    opacity: 0.7;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}